body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}


.ptextmainframe {
  position:absolute;  
  /* Firefox */
  top: -moz-calc(30% + 90px);
  /* WebKit */
  top: -webkit-calc(30% + 90px);
  /* Opera */
  top: -o-calc(30% + 90px);
  /* Standard */
  top: calc(30% + 90px);
  width:100%;  
  text-align:center;
  color:#000;
  font-size:0.8em;
  letter-spacing:0.5em;
  text-transform:uppercase;  
}

.ptextmain {  
  display: inline-block;
  width: 261px;
  height: 250px;
  line-height:1em;  
/*  
  position:absolute;
  top: -moz-calc(40% + 100px);
  top: -webkit-calc(40% + 100px);
  top: -o-calc(40% + 100px);
  top: calc(40% + 100px);
  width:100%;
  text-align:center;
  color:#000;
  font-size:0.8em;
  letter-spacing:6px;
  text-transform:uppercase;
*/
}

.ptextmain .border{
  width:261px;
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptextmain .border.trans{
  width: 261px;
  background-color:transparent;
}

/*
.selectCountryClass {
  border: 2px solid #333;
  background-color: #999999;
  width: 265px;
  font-size: 1em;
}
*/

.ddbar {
  position:absolute;
  /* Firefox */
  top: -moz-calc(30% + 400px);
  /* WebKit */
  top: -webkit-calc(30% + 400px);
  /* Opera */
  top: -o-calc(30% + 400px);
  /* Standard */
  top: calc(30% + 400px);
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ddbar .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ddbar .border.trans{
  background-color:transparent;
}

.scoreboardframe {
  position:absolute;  
  /* Firefox */
  top: -moz-calc(30% + 1px);
  /* WebKit */
  top: -webkit-calc(30% + 200px);
  /* Opera */
  top: -o-calc(30% + 1px);
  /* Standard */
  top: calc(30% + 140px);
  width:100%;
  height: 200px;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;  
}

.scoreboardframe .border{
  background-color: #000;;
  color:#fff;
  padding:20px;
}

.scoreboardframe .border.trans{
  background-color:transparent;
}

.scoreboard {
  overflow:hidden;
  display: inline-block;
  border: 1px solid #333;
  width: 261px;
  height: 250px;
  font-size: 0.6em;
  letter-spacing:0px;
  text-transform:none;  
  text-align:left;
  line-height:1em;
  font-family: 'Courier New', Courier, monospace;  
  margin: 5px;
  z-index: 9999;
}

.scoreboard p {
  padding: 5px;
}

.scoreboard a:link {
  color: #999;
} 

.scoreboard a:visited {
  color: #999;
} 

.scoreboard a:hover {
  color: #fff;
} 

.scoreboard a:active {
  color: #333;
} 

.scoreboard iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}


.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
