body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptextmain {
  position:absolute;
  top:65%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptextmain .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptextmain .border.trans{
  background-color:transparent;
}

/*
.selectCountryClass {
  border: 2px solid #333;
  background-color: #999999;
  width: 265px;
  font-size: 1em;
}
*/

.ddbar {
  position:absolute;
  /* Firefox */
  top: -moz-calc(65% + 60px);
  /* WebKit */
  top: -webkit-calc(65%+ 60px);
  /* Opera */
  top: -o-calc(65% + 60px);
  /* Standard */
  top: calc(65% + 60px);
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ddbar .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ddbar .border.trans{
  background-color:transparent;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}


.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
